body{
    background-image: url("/img/North_Star_-_invitation_background.png");
    background-repeat: repeat-y;
    background-size: cover;
    color:white;
}

.blog-list{

    border-color: red;
    border-radius: 3px;
    margin:auto;
    list-style-type: none;
}

.single-blog{
    border-style: dashed;
    border-width:1px;
    border-radius: 6px;
    border-color: white;
    margin:5px 35px 0 5px;
}

.blog-title{
    margin-bottom: 10px;
}
.hr-blogTitle{
    margin: 5px 3px 5px 3px;
    width:70%;
    color: darkgray;
}
.hr-blogList{
    margin-top: 8px;
    width:90%;
    color: darkgray;
}